body {
  background-color: black;
}
.box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
#ball {
  width: 60px;
  height: 60px;
  background: none;
  border: 2px solid gray;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  pointer-events: none;
  margin: -10px 0 0 -10px;
}
